<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const dateElements = document.querySelectorAll('.date-time');
            dateElements.forEach(function(element) {
                const utcString = element.getAttribute('data-utc');
                element.textContent = formatDateTime(utcString);
            });
        });

        function formatDateTime(utcString){
            const utcDate = new Date(utcString);
            const nowDate = new Date();
            const isSameDay = utcDate.getUTCFullYear() === nowDate.getUTCFullYear() &&
                utcDate.getUTCMonth() === nowDate.getUTCMonth() &&
                utcDate.getUTCDay() === nowDate.getUTCDay();

            if(isSameDay){
                return utcDate.toLocaleString(undefined, {
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                })
            }else {
                return utcDate.toLocaleString(undefined, {
                    year: '2-digit',
                    month: '2-digit',
                    day:'2-digit'
                });
            }
        }
    </script>
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>

<h1 class="text-center m-3">게시글 목록</h1>

<div class="article-box d-flex justify-content-center">
    <div class="w-75">
        <ul class="p-0">
            <li class="border-bottom m-1" th:each="article : ${articleList}">
                <div class="d-flex card">
                    <div class="card-body d-flex row">
                        <div class="col-auto" th:text="${article.id}"></div>
                        <div class="col" th:text="${article.title}"></div>
                        <div class="col-1" th:text="${article.memberName}"></div>
                        <div class="col-2 date-time text-center" th:attr="data-utc=${article.createdDate}"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script th:src="@{/js/logout.js}"></script>
</body>
</html>