<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="~{/fragment/header :: header}"></div>


<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <article>
        <input type="hidden" id="article-id" th:value="${article.id}">
        <header class="mb-4">
          <input type="text" class="form-control" placeholder="제목" id="title"
                 th:value="${article.title}">
        </header>
        <section class="mb-5">
                    <textarea class="form-control h-25" rows="10" placeholder="내용" id="content"
                              th:text="${article.content}">

                    </textarea>
        </section>
        <button th:if="${article.id} != null" type="button" id="modify-btn" class="btn btn-primary btn-sm">수정
        </button>
        <button th:if="${article.id} == null" type="button" id="create-btn" class="btn btn-primary btn-sm">등록
        </button>
      </article>
    </div>
  </div>
</div>

<script th:src="@{/js/logout.js}"></script>
</body>

<script>
  const modifyButton = document.getElementById('modify-btn');

  if(modifyButton){
    modifyButton.addEventListener('click', event =>{
      let id = document.getElementById('article-id').value

      fetch(`/api/articles/${id}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          title: document.getElementById('title').value,
          content: document.getElementById('content').value
        })
      }).then(() => {
        alert("수정이 완료되었습니다.")
        location.replace("/articleList")
      })
    })
  }

  const createButton = document.getElementById('create-btn')

  if(createButton){
    createButton.addEventListener('click', event =>{
      fetch("/api/articles", {
        method: "POST",
        headers: {
          "Content-Type" : "application/json"
        },
        body: JSON.stringify({
          title: document.getElementById('title').value,
          content: document.getElementById('content').value
        })
      }).then(() => {
        alert("게시글 작성을 완료하였습니다.");
        location.replace("/articleList")
      })
    })
  }

</script>
</html>